
        <div class="section section-feature cd-section" style="background-color: darkgray;" id="features">
            <!--     *********     FEATURES 3      *********      -->
                <div class="features-3">
                    <div class="container">
                            <div class="row">
                                
                                        <div class="container">
                                            <h2 class="title">SO VERBREITET SICH DAS VIRUS</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                           
                                                    <p>Das Virus, das COVID-19 auslöst, wird vorwiegend durch Tröpfcheninfektion übertragen, wenn eine infizierte Person hustet, niest oder ausatmet. 
                                                        Diese Tröpfchen sind zu schwer, um lange in der Luft zu schweben, und sinken schnell auf den Boden oder auf Oberflächen ab.</p>
                                                        <br>
                                                    <p>Sie können sich infizieren, wenn Sie sich in unmittelbarer Nähe zu einer Person befinden, die COVOD-19 hat, und das Virus einatmen. Sie können 
                                                        sich auch infizieren, wenn Sie eine Oberfläche anfassen, auf der sich das Virus befindet, und danach die Augen, die Nase oder den Mund berühren.</p>
                                        </div>
                                           
                                    </div>
                                </div>
                            </div>
                    
            
                </div>
            <!--     *********     FEATURES 4     *********      -->
                <div class="features-4">
                    <div class="container">
                        <div class="row">
                            <div class=" ml-auto mr-auto text-center">
                                <h2 class="title">Tips gegen Corona gefällig?</h2>
                                <h5 class="description">Gründliches Waschen mit Seife oder Waschlotion tötet Coronaviren zuverlässig ab. Um die Haut zu schonen, verwenden die Mitarbeiter*innen im Krankenhaus und in Ambulanzen stattdessen Händedesinfektionsmittel. Die Wirkung ist bei sachgemäßer Anwendung vergleichbar. Besonders bevor Augen, Nase oder Mund berührt werden, sollten Hände gewaschen oder desinfiziert werden.</h5>
                            </div>
                        </div>
                        
                            <div class="row">
                                <div class="col-md-2 "></div>
                                <div class="col-md-4 ">
                                    <div class="info info-horizontal">
                                        <img style="height: 80%; width: 80%; margin-top: 70px;" src="assets/img/hand.jpg">  
                                    </div>
                                </div>
                                <div class="col-md-3 "><div class="description">
                                    <h4 class="info-title">Hände waschen</h4>
                                    <p>Gründliches Waschen mit Seife oder Waschlotion tötet Coronaviren zuverlässig ab. Um die Haut zu schonen, verwenden die Mitarbeiter*innen im Krankenhaus und in Ambulanzen stattdessen Händedesinfektionsmittel. Die Wirkung ist bei sachgemäßer Anwendung vergleichbar. Besonders bevor Augen, Nase oder Mund berührt werden, sollten Hände gewaschen oder desinfiziert werden.</p>
                                </div>
                                <div class="col-md-2 "></div>
                            </div>

                            <div class="row">
                                <div class="col-md-2 "></div>
                                
                                <div class="col-md-4">
                                    <div class="description" style="margin-top: 90px;">
                                        <h4 class="info-title">Richtig husten und niesen</h4>
                                        <p>Das neue Coronavirus wird vor allem durch Tröpfchen übertragen (direkt oder über die Hände).</p>
                                    </div>
                                </div>
                                <div class="col-md-3 ">
                                    <div class="info info-horizontal">
                                        <img style="height: 80%; width: 80%;" src="assets/img/husten.jpg">
                                    </div>
                                </div>
                                <div class="col-md-2 "></div>
                            </div>
                    
               
            
