<div class="page-header">
  <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-color:darkgray">

  </div>
  <div class="filter"></div>
  <div class="content-center">
      <div class="container">
          <div class="motto">
            <a class="pull-left" href="javascript:void(0)">
                <div class="profile-picture">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <div class="fileinput-new img-no-padding">
                            <img src="./assets/img/faces/corona.jpg" alt="...">
                        </div>
                    </div>
                </div>
            </a>
              <h1 class="title">Maske tragen.Leben retten.</h1>
              <h3 class="description">Abstand halten, Hände waschen und Alltagsmaske tragen</h3>
              <br />
          </div>
      </div>
  </div>
</div>


<div class="wrapper">
    <div class="section text-center landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="title">Corona</h2>
                    <h5>Die Coronavirus-Erkrankung (COVID-19) ist eine Infektionskrankheit, die von einem neu entdeckten Coronavirus ausgelöst wird.
                        Die meisten Menschen, die an COVID-19 erkranken, haben leichte bis mittelschwere Symptome und werden wieder gesund, ohne dass sie eine besondere ärztliche Behandlung benötigen.</h5>
                    <br />
                    <a href="javascript:void(0)" class="btn btn-danger btn-fill btn-round">See Details</a>
                </div>
            </div>
            <br /><br />
            <div class="row">
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-alert-circle-i"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Tipps und Ratschläge</h4>
                            <p>Diese Krankheit bekämpfen wir nur zusammen. Hier lest ihr WIE.</p>
                            <a routerLink="/tips" routerLinkActive="active" class="btn btn-link btn-danger">See more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-world-2"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Globale Daten</h4>
                            <p class="description">Eine Übersicht über den weltweiten Status der Corona Infizierten</p>
                            <a routerLink="/global" routerLinkActive="active" class="btn btn-link btn-danger">See more</a>
                        </div>
                    </div>
                </div>
               
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-chart-bar-32"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Länder</h4>
                            <p>Eine Übersicht über den Status in den Ländern dieser Welt.</p>
                            <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-favourite-28"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Vorgemerktes</h4>
                            <p>Behalten Sie einen Überblick über Länder, Ihres Interesses.</p>
                            <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

   
<footer class="footer section-dark">
    <div class="container">
        <div class="row">
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{data | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Karim Rakia
                </span>
            </div>
        </div>
    </div>
</footer>
