w<div class=" section-pricing cd-section" id="pricing"  style="background-color: darkgray !important; height: 80px;"></div>

<!--     *********    PRICING 1     *********      -->
    <div class="pricing-1 ">
        <div class="container">
            <div class="row">
               
                <div class="col-md-8 ml-auto mr-auto text-center" style="margin-left: -50px !important; margin-top: 15px;">
                    <h2 class="title">COVID-19 in den Ländern dieser Erde</h2>
                    <h5 class="description">Die neuesten Infos zur nationalen Ausbreitung von Covid-19.</h5>
                </div>
            </div>
        </div>   
    </div>
    <div class="row">
       
       
        <div class="col-md-2">
            <div class="card" style="background-color: gainsboro; color: black; width: 190px;">
                <div class="card-body" style=" display: flex; justify-content: center; flex-wrap: wrap; ">
                    <h3 class="card-title">Afghanistan</h3>
                    <br>
                    <img style="height: 50%; width: 50%; padding-top: 20px; " src="./assets/countries/afghanistan.png" alt="">
                  
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card" style="background-color: gainsboro; color: black; width: 190px;">
                <div class="card-body" style=" display: flex; justify-content: center; flex-wrap: wrap; ">
                    <h3 class="card-title">Albania</h3>
                    <br>
                    <img style="height: 50%; width: 50%; padding-top: 20px; " src="./assets/countries/albania.png" alt="">
                  
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card" style="background-color: gainsboro; color: black; width: 190px;">
                <div class="card-body" style=" display: flex; justify-content: center; flex-wrap: wrap; ">
                    <h3 class="card-title">Armenia</h3>
                    <br>
                    <img style="height: 50%; width: 50%; padding-top: 20px; " src="./assets/countries/armenia.png" alt="">
                  
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card" style="background-color: gainsboro; color: black; width: 190px;">
                <div class="card-body" style=" display: flex; justify-content: center; flex-wrap: wrap; ">
                    <h3 class="card-title">Andorra</h3>
                    <br>
                    <img style="height: 50%; width: 50%; padding-top: 20px; " src="./assets/countries/andorra.png" alt="">
                  
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card" style="background-color: gainsboro; color: black; width: 190px;">
                <div class="card-body" style=" display: flex; justify-content: center; flex-wrap: wrap; ">
                    <h3 class="card-title">Argentina</h3>
                    <br>
                    <img style="height: 50%; width: 50%; padding-top: 20px; " src="./assets/countries/argentina.png" alt="">
                  
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card" style="background-color: gainsboro; color: black; width: 190px;">
                <div class="card-body" style=" display: flex; justify-content: center; flex-wrap: wrap; ">
                    <h3 class="card-title">Australia</h3>
                    <br>
                    <img style="height: 50%; width: 50%; padding-top: 20px; " src="./assets/countries/australia.png" alt="">
                  
                </div>
            </div>
        </div>
    </div>
    

